<h1 id="title">What The Hell Did I Do Last Week?</h1>

<ul>
	<li>{{#link-to 'index'}}Home{{/link-to}}</li>
	<li>{{#link-to 'github'}}Github{{/link-to}}</li>
	<li>{{#link-to 'gmail'}}Gmail{{/link-to}}</li>
	<li>{{#link-to 'trello'}}Trello{{/link-to}}</li>
	<li>{{#link-to 'slack'}}Slack{{/link-to}}</li>
</ul>

{{outlet}}