<h1 id="title">What The Hell Did I Do Last Week?</h1>

<ul>
	<li><a href="/">Home</a></li>
	<li><a href="github">Github</a></li>
	<li><a href="gmail">Gmail</a></li>
	<li><a href="trello">Trello</a></li>
	<li><a href="slack">Slack</a></li>
</ul>

{{outlet}}